@font-face {
    font-family: "鸿雷行书简体";
    src:
        local("鸿雷行书简体"),
        url("../public/fonts/HongLeiXingShuJianTi-2/HongLeiXingShuJianTi-2.woff") format("woff"),
        url("../public/fonts/HongLeiXingShuJianTi-2/HongLeiXingShuJianTi-2.woff2") format("woff2"),
        url("../public/fonts/HongLeiXingShuJianTi-2/HongLeiXingShuJianTi-2.otf") format("otf"),
        url("../public/fonts/HongLeiXingShuJianTi-2/HongLeiXingShuJianTi-2.ttf") format("ttf");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 0xProto;
    src:
        local("0xProto"),
        url("../public/fonts/0xProto/0xProto-Regular.woff2") format("woff2"),
        url("../public/fonts/0xProto/0xProto-Regular.otf") format("otf"),
        url("../public/fonts/0xProto/0xProto-Regular.ttf") format("ttf");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 0xProto;
    src:
        local("0xProto"),
        url("../public/fonts/0xProto/0xProto-Italic.woff2") format("woff2"),
        url("../public/fonts/0xProto/0xProto-Italic.otf") format("otf"),
        url("../public/fonts/0xProto/0xProto-Italic.ttf") format("ttf");
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: Cascadia Code;
    src:
        local("Cascadia Code"),
        url("../public/fonts/CascadiaCode/CascadiaCode.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Cascadia Code;
    src:
        local("Cascadia Code"),
        url("../public/fonts/CascadiaCode/CascadiaCode-Italic.woff2") format("woff2");
    font-display: swap;
    font-style: italic;
}
