@import url("./animations.css");

@layer base {
    :root {
        --background: 169 100% 99%;
        --foreground: 216 97% 15%;

        --card: 192 56% 83%;
        --card-foreground: 216 97% 15%;

        --popover: 98 33% 93%;
        --popover-foreground: 216 97% 15%;

        --primary: 200 77% 58%;
        --primary-foreground: 197 97% 22%;

        --secondary: 188 74% 57%;
        --secondary-foreground: 204 55% 28%;

        --muted: 197 24% 66%;
        --muted-foreground: 203 67% 18%;

        --accent: 59 65% 71%;
        --accent-foreground: 63 97% 13%;

        --destructive: 0 84% 60.2%;
        --destructive-foreground: 0 100% 97%;

        --border: 198 35% 93%;
        --input: 174 67% 41%;
        --ring: 215 16% 87%;

        --radius: 0.45rem;
    }

    .dark {
        --background: 203 60% 12%;
        --foreground: 0 0% 87%;

        --card: 207 50% 30%;
        --card-foreground: 187 30% 77%;

        --popover: 203 30% 9%;
        --popover-foreground: 0 0% 87%;

        --primary: 205 54% 48%;
        /* --primary: #1e96bc; */
        --primary-foreground: 0 0% 87%;

        --secondary: 187 73% 38%;
        --secondary-foreground: 203 60% 12%;

        --muted: 194 28% 52%;
        --muted-foreground: 203 60% 22%;

        --accent: 53 63% 38%;
        --accent-foreground: 203 60% 12%;

        --destructive: 0 63% 30.6%;
        --destructive-foreground: 0 60% 87%;

        --border: 207 58% 18%;
        /* --border: #20516a; */
        --input: 164 36% 61%;
        --ring: 215 16% 25%;
    }
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    touch-action: auto;

    overflow-y: scroll;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

html.dark {
    color-scheme: dark;
}

body,
#__nuxt {
    min-height: 100vh;
}

:is(a, button):focus-visible {
    outline: 3px solid hsl(var(--muted));
    box-shadow: none;
    outline-offset: 4px;
    border-radius: 9999px;
}

/* shadows */
.window-like {
    box-shadow: var(--perfect-shadow);
    --base: hsl(203 60% 12% / 4%);
    --shade: hsl(from var(--base) calc(h + 8) 25 calc(l - 5));
    --perfect-shadow: 0 0 0 1px var(--base), 0 0 1px 0px hsl(var(--ring)), 0 1px 1px -0.5px var(--shade),
        0 3px 3px -1.5px var(--shade), 0 6px 6px -3px var(--shade), 0 12px 12px -6px var(--base),
        0 24px 24px -12px var(--base);
}

/* links */
a {
    @apply font-bold hover:(text-shadow-lg text-shadow-color-foreground/25) transition-(text-shadow,opacity) duration-300 ease-out;
}

:is(.md-doc, #__nuxt > div > footer) a[target="_blank"]::after {
    content: "";
    vertical-align: text-top;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='36' stroke-dashoffset='36' d='M12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19C15.866 19 19 15.866 19 12'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='36;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M13 11L20 4'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.6s' dur='0.3s' values='12;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='8' stroke-dashoffset='8' d='M21 3H15M21 3V9'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.9s' dur='0.2s' values='8;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* containers */
.remark-container {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0.75rem;
    margin: 0 0 1.5rem;

    > .remark-container-title {
        font-weight: 700;
        margin: 0;
    }

    &.info {
        border-color: hsl(var(--ring));
        /* color: hsl(var(--foreground)); */
        /* background-color: hsl(var(--background)); */
    }

    &.tip {
        border-color: hsl(var(--border));
        color: hsl(var(--secondary-foreground));
        background-color: hsl(var(--secondary));
    }

    &.warning {
        border-color: hsl(var(--border));
        color: hsl(var(--accent-foreground));
        background-color: hsl(var(--accent));
    }

    &.danger {
        border-color: hsl(var(--border));
        color: hsl(var(--destructive-foreground));
        background-color: hsl(var(--destructive));
    }

    &.details {
        border-color: hsl(var(--ring));
        /* color: hsl(var(--foreground)); */
        /* background-color: #1e293b60; */
        padding: 8px 16px;

        summary {
            cursor: pointer;
            font-weight: 700;
            margin: 8px 0;
        }
    }

    p + p {
        margin: 8px 0;
    }

    a {
        color: inherit;
        font-weight: 600;
    }

    a:hover {
        opacity: 0.6;
    }
}

/* docsearch */
.DocSearch-Modal {
    @apply animate-in fade-in slide-in-from-bottom-1 zoom-in-97;
}

html.light {
    /* --docsearch-searchbox-background: hsl(var(--background)); */
    --docsearch-container-background: hsl(203, 20%, 32%, 80%);
    --docsearch-key-gradient: none;
    --docsearch-key-shadow: none;
    --docsearch-logo-color: hsl(var(--primary));
    --docsearch-hit-background: hsl(var(--card));
    --docsearch-hit-color: hsl(var(--card-foreground));
    --docsearch-hit-active-color: hsl(var(--primary-foreground));
    --docsearch-hit-active-background: hsl(var(--foreground));
    --docsearch-highlight-color: hsl(var(--primary));
    --docsearch-hit-shadow: 0 1px 3px 0 hsl(var(--border));
    --docsearch-searchbox-shadow: inset 0 0 0 2px hsl(var(--border));
    --docsearch-footer-background: hsl(var(--background));
    --docsearch-footer-shadow: 0 -1px 0 0 hsl(var(--border)), 0 0px 2px 0 hsl(var(--card));
    --docsearch-searchbox-focus-background: hsl(var(--popover));
    --docsearch-text-color: hsl(var(--foreground));
    --docsearch-modal-background: hsl(var(--background));
    --docsearch-modal-shadow: none;
    --docsearch-muted-color: hsl(var(--card-foreground));
}

html.dark {
    /* --docsearch-searchbox-background: hsl(var(--background)); */
    --docsearch-container-background: hsl(203, 20%, 32%, 80%);
    --docsearch-key-gradient: none;
    --docsearch-key-shadow: none;
    --docsearch-logo-color: hsl(var(--primary));
    --docsearch-hit-background: hsl(var(--card));
    --docsearch-hit-color: hsl(var(--card-foreground));
    --docsearch-hit-active-color: hsl(var(--primary-foreground));
    --docsearch-hit-active-background: hsl(var(--foreground));
    --docsearch-highlight-color: hsl(var(--primary));
    --docsearch-hit-shadow: 0 1px 3px 0 hsl(var(--border));
    --docsearch-searchbox-shadow: inset 0 0 0 2px hsl(var(--border));
    --docsearch-footer-background: hsl(var(--background));
    --docsearch-footer-shadow: 0 -1px 0 0 hsl(var(--border)), 0 0 2px 0 hsl(var(--card));
    --docsearch-searchbox-focus-background: hsl(var(--popover));
    --docsearch-text-color: hsl(var(--foreground));
    --docsearch-modal-background: hsl(var(--background));
    --docsearch-modal-shadow: none;
    --docsearch-muted-color: hsl(var(--card-foreground));
}

:is(.md-doc) .katex-display,
.mermaid {
    overflow: auto;
}
