.code-copy-button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 2rem;
  right: 0.5rem;
  text-align: center;
  margin: auto;
  border-radius: 4px;
  border: 1px solid rgba(100, 100, 100, 0.8);
  background-color: rgba(230, 230, 230, 0.2);
  z-index: 5;
  display: none;
}

div[class*=language-]:hover > .code-copy-button{
  display:block;
}

.code-copy-button:hover {
  background-color: rgba(230, 230, 230, 0.1);
}

/* .code-copy-button:hover::before {
  content: "复制";
  position: absolute;
} */

.code-copy-button > svg {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(230, 230, 230, 0.6);
}
