@layer base {
    :root {
        --background: hsl(39, 80%, 82%);
        --foreground: hsl(216, 97%, 15%);

        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 3.9%);

        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 3.9%);

        --primary: hsl(186, 97%, 29%);
        --primary-foreground: hsl(0, 0%, 93%);

        --secondary: hsl(204, 55%, 18%);
        --secondary-foreground: hsl(204, 55%, 18%);

        --muted: hsl(204, 55%, 18%);
        --muted-foreground: hsl(0 0% 45.1%);

        --accent: hsl(186, 97%, 89%);
        --accent-foreground: hsl(186, 97%, 29%);

        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(350, 5%, 63%);

        --border: hsl(33 100% 89.8%);
        --input: hsl(33 100% 89.8%);
        --ring: hsl(0 0% 3.9%);

        --radius: 0.45rem;
    }

    .dark {
        --background: hsl(210, 100%, 12%);
        --foreground: hsl(0 0% 98%);

        --card: hsl(0 0% 3.9%);
        --card-foreground: hsl(0 0% 98%);

        --popover: hsl(0 0% 3.9%);
        --popover-foreground: hsl(0 0% 98%);

        --primary: hsl(208, 100%, 43%);
        --primary-foreground: hsl(0 0% 93%);

        --secondary: hsl(218, 37%, 30%);
        --secondary-foreground: hsl(0 0% 98%);

        --muted: hsl(0 0% 14.9%);
        --muted-foreground: hsla(0, 0%, 93%, 0.75);

        --accent: hsl(197, 100%, 75%);
        --accent-foreground: hsl(180, 100%, 91%);

        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 100% 93%);

        --border: hsl(210 60% 18%);
        --input: hsl(210 60% 25%);
        --ring: 0 0% 83.1%;
    }
}

#__nuxt {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* #222831 */
html {
    background-color: var(--background);
    color: var(--foreground);
    font-family:
        "SF Pro Text",
        "SF Pro Icons",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

/* html.dark {
    color-scheme: dark;
} */

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */

a {
    cursor: pointer;
    background: linear-gradient(0deg, var(--primary), var(--primary)) no-repeat right bottom / 0 0.55rem;
    background-origin: content-box;
    transition:
        background-size 350ms,
        opacity 350ms;
}

a:where(:hover, :focus-visible) {
    background-size: 100% 0.55rem;
    background-position-x: left;
}
